<div class={{this.classNamesString}}>
  <div class="c-toggle-switch__label">{{this.label}}</div>
  <span class="c-toggle-switch__off-label">{{this.offLabel}}</span>
  <div class="c-toggle-switch__switch"></div>
  <span class="c-toggle-switch__on-label">{{this.onLabel}}</span>
</div>