// As hex codes */

$color-primary-0: #0C5AA6;
$color-primary-1: #5288BC;
$color-primary-2: #306EAB;
$color-primary-3: #094580;
$color-primary-4: #053664;
$color-complementary: #fac99B;
$color-alert: #f00;


// As RGBa codes */

$rgba-primary-0: rgba( 12, 90,166,1);
$rgba-primary-1: rgba( 82,136,188,1);
$rgba-primary-2: rgba( 48,110,171,1);
$rgba-primary-3: rgba(  9, 69,128,1);
$rgba-primary-4: rgba(  5, 54,100,1);

// Other color
$lightGreen: #9acd32;
