<h3>MgToggleSwitch</h3>
<MgToggleSwitch @label="Label" />

<h3>MgButton</h3>
<MgButton @text="Button!" />

<h3>MgCheckbox</h3>
<MgCheckbox @checked={{this.checkboxState}} @onClick={{this.toggleCheckbox}} />
